{% extends 'base.html.twig' %}

{% block title %}All Quizzes
{% endblock %}

{% block body %}
	<div class="page-bar">
		<div class="page-title-breadcrumb">
			<div class=" pull-left">
				<div class="page-title">Listes des Quizz</div>
			</div>
			<ol class="breadcrumb page-breadcrumb pull-right">
				<li>
					<i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a class="parent-item" href="#">Quizz</a>&nbsp;<i class="fa fa-angle-right"></i>
				</li>
				<li class="active">Liste des Quizz</li>
			</ol>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="card  card-box">
				<div class="card-head">
					<header></header>
					<div class="tools">
						<a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
						<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
						<a class="t-close btn-color fa fa-times" href="javascript:;"></a>
					</div>
				</div>
				<div class="card-body ">
					<div class="table-wrap">
						<div class="table-responsive">
							<table class="table display product-overview mb-30" id="support_table">
								<thead>
									<tr>
										<th>Id</th>
										<th>Questions</th>
										<th>Choice a</th>
										<th>Choice b </th>
                                        <th>Choice c </th>
                                        <th>Choice d </th>
                                        <th>Correct answer </th>
                                        <th>Explanation</th>
										
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for q in quizz %}
										<tr>
											<td>{{ q.id }}</td>
											<td>{{ q.questions }}</td>
											<td>{{ q.choice_a }}</td>
											<td>{{q.choice_b}}</td>
                                            <td>{{q.choice_c}}</td>
										    <td>{{q.choice_d}}</td>
                                            <td>{{q.correct_answer}}</td>
                                            <td>{{q.explanation}}</td>

																	<td class="left">
																		<div class="d-flex justify-content-around">
									<a href="{{ path('app_quiz_questions_edit', {'id': q.id}) }}" class="btn btn-primary btn-xs">
																	<i class="fa fa-pencil"></i>
																</a>

																			
																			{{ include('quiz_questions/_delete_form.html.twig') }}

																			<div>
																		</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="9">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
