<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="description" content="Responsive Admin Template" />

        <title>{% block title %}Welcome!{% endblock %}</title>
     
        {% block stylesheets %}
    	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
	<link href="{{asset('assets/fonts/simple-line-icons/simple-line-icons.min.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{asset('assets/fonts/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{asset('assets/fonts/material-design-icons/material-icon.css')}}" rel="stylesheet" type="text/css" />
	<!--bootstrap -->
	<link href="{{asset('assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{asset('assets/plugins/summernote/summernote.css')}}" rel="stylesheet">
	<!-- Material Design Lite CSS -->
	<link rel="stylesheet" href="../assets/plugins/material/material.min.css')}}">
	<link rel="stylesheet" href="../assets/css/material_style.css')}}">
	<!-- inbox style -->
	<link href="../assets/css/pages/inbox.min.css" rel="stylesheet" type="text/css" />
	<!-- Theme Styles -->
	<link href="{{asset('assets/css/theme/light/theme_style.css')}}" rel="stylesheet" id="rt_style_components" type="text/css" />
	<link href="{{asset('assets/css/plugins.min.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{asset('assets/css/theme/light/style.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{asset('assets/css/responsive.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{asset('assets/css/theme/light/theme-color.css')}}" rel="stylesheet" type="text/css" />
	<!-- favicon -->
	<link rel="shortcut icon" href="https://radixtouch.com/templates/admin/smart/source/assets/img/favicon.ico" />
        <!-- data tables -->
	<link href="{{asset('assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css')}}" rel="stylesheet" />
	

        {% endblock %}

  
    </head>
    <body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
<div class="page-wrapper">
		<!-- start header -->
		<div class="page-header navbar navbar-fixed-top">
			<div class="page-header-inner ">
				<!-- logo start -->
				<div class="page-logo">
					<a href="index.html">
						<img src="{{asset('assets/img/Tunisie-Telecom.jpg')}}" class="img-circle img-fluid" alt="" height="50px" width="80px"></a>
						<span class="logo-default">Tunisie Telecom</span> </a>
				</div>
				<!-- logo end -->
				<ul class="nav navbar-nav navbar-left in">
					<li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
				</ul>
				<form class="search-form-opened" action="#" method="GET">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search..." name="query">
						<span class="input-group-btn">
							<a href="javascript:;" class="btn submit">
								<i class="icon-magnifier"></i>
							</a>
						</span>
					</div>
				</form>
				<!-- start mobile menu -->
				<a class="menu-toggler responsive-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
					<span></span>
				</a>
				<!-- end mobile menu -->
				<!-- start header menu -->
				<div class="top-menu">
					<ul class="nav navbar-nav pull-right">
						<li><a class="fullscreen-btn"><i class="fa fa-arrows-alt"></i></a></li>
				
						
						<!-- start manage user dropdown -->
						<li class="dropdown dropdown-user">
							<a class="dropdown-toggle" data-bs-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<img alt="" class="img-circle " src="{{asset('download.jpg')}}


								" />
								{% if app.user %}
								<span class="username username-hide-on-mobile"> {{app.user.fullName| split(' ', 2)[0]}} </span>
								{% endif %}
								<i class="fa fa-angle-down"></i>
							</a>
					
						<li>
									<a href="{{path('app_logout')}}">
										<i class="icon-logout"></i> Log Out </a>
								</li>
							
						<!-- end manage user dropdown -->
					
					</ul>
				</div>
			</div>
		</div>
		<!-- end header -->
	
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
			<div class="sidebar-container">
				<div class="sidemenu-container navbar-collapse collapse fixed-menu">
					<div id="remove-scroll" class="left-sidemenu">
						<ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
							data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
							<li class="sidebar-toggler-wrapper hide">
								<div class="sidebar-toggler">
									<span></span>
								</div>
							</li>
							<li class="sidebar-user-panel">
								<div class="user-panel">
									<div class="pull-left image">
										<img src="{{asset('download.jpg')}}" class="img-circle user-img-circle"
											alt="User Image" />
									</div>
									<div class="pull-left info">
										<p>{{app.user.fullName| split(' ', 2)[0]}} </p>
										<a href="#"><i class="fa fa-circle user-online"></i><span class="txtOnline">
												Online</span></a>
									</div>
								</div>
							</li>
							<li class="nav-item start active open">
								<a href="{{path('app_dashboard')}}" class="nav-link nav-toggle">
									<i class="material-icons">dashboard</i>
									<span class="title">Dashboard</span>
								
								</a>
								
							</li>
					
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i class="material-icons">person</i>
									<span class="title">Users</span> <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="{{path('app_user_index')}}" class="nav-link "> <span class="title">All
												Users</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{path('app_admin_register')}}" class="nav-link "> <span class="title">Add Users</span>
										</a>
									</li>
								
								</ul>
							</li>
							
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i class="material-icons">school</i>
									<span class="title">Courses</span> <span class="arrow"></span>
									
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href={{path('app_course_index')}} class="nav-link "> <span class="title">All
												Courses</span>
										</a>
									</li>
									<li class="nav-item">
										<a href={{path('app_course_new')}} class="nav-link "> <span class="title">Add
												Course</span>
										</a>
									</li>
									
									
									
								</ul>
							</li>
								<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i class="material-icons">school</i>
									<span class="title">Quizz</span> <span class="arrow"></span>
							
								</a>
								<ul class="sub-menu">

								<li class="nav-item">
										<a href={{path('all_quizes')}} class="nav-link "> <span class="title">All
												Quizes</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link "> <span class="title">
												Quizes and their Questions</span>
										</a>
									</li>
									<li class="nav-item">
										<a href={{path('app_quiz_questions_index')}} class="nav-link "> <span class="title">All
												Quiz Question</span>
										</a>
									</li>
															<li class="nav-item">
										<a href={{path('new_quiz')}} class="nav-link "> <span class="title">Add
												Quiz</span>
										</a>
									</li>
									<li class="nav-item">
										<a href={{path('app_quiz_questions_new')}} class="nav-link "> <span class="title">Add
												Questions</span>
										</a>
									</li>
									
									
								</ul>
							</li>
							</ul>
					</div>
				</div>
			</div>
			<!-- end sidebar menu -->
			<!-- start page content -->
            <div class="page-content-wrapper">
				<div class="page-content">
        {% block body %}

        
        {% endblock %}
</div>
<!-- start footer -->
		<div class="page-footer">
			<div class="page-footer-inner"> 2022 &copy; KOR
				
			</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
</div>



              {% block javascripts %}
  <!-- start js include path -->
	<script data-cfasync="false" src="{{asset('cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js')}}"></script>
    <script src="{{asset('assets/plugins/jquery/jquery.min.js')}}"></script>
	<script src="{{asset('assets/plugins/popper/popper.js')}}"></script>
	<script src="{{asset('assets/plugins/jquery-blockui/jquery.blockui.min.js')}}"></script>
	<script src="{{asset('assets/plugins/jquery-slimscroll/jquery.slimscroll.js')}}"></script>
	<!-- bootstrap -->
	<script src="{{asset('assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{asset('assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}"></script>
	<script src="{{asset('assets/plugins/sparkline/jquery.sparkline.js')}}"></script>
	<script src="{{asset('assets/js/pages/sparkline/sparkline-data.js')}}"></script>
	<!-- Common js-->
	<script src="{{asset('assets/js/app.js')}}"></script>
	<script src="{{asset('assets/js/layout.js')}}"></script>
	<script src="{{asset('assets/js/theme-color.js')}}"></script>
	<!-- material -->
	<script src="{{asset('assets/plugins/material/material.min.js')}}"></script>
	<!--apex chart-->
	<script src="{{asset('assets/plugins/apexcharts/apexcharts.min.js')}}"></script>

	<!-- summernote -->
	<script src="{{asset('assets/plugins/summernote/summernote.js')}}"></script>
	<script src="{{asset('assets/js/pages/summernote/summernote-data.js')}}"></script>
    <!-- data tables -->
	<script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js')}}"></script>
	<script src="{{asset('assets/js/pages/table/table_data.js')}}"></script>
	<script src="{{asset('assets/js/validation.js')}}"></script>
	<script src="vendor/global/global.min.js"></script>
    <script src="{{asset('vendor/chart.js/Chart.bundle.min.js')}}"></script>
	<!-- Apex Chart -->
	
    
	<script src="{{asset('vendor/jquery-nice-select/js/jquery.nice-select.min.js')}}"></script>

    <!-- Chart ChartJS plugin files -->
    <script src="{{asset('vendor/chart.js/Chart.bundle.min.js')}}"></script>
    <script src="{{asset('js/plugins-init/chartjs-init.js')}}"></script>
	
    
        {% endblock %}
    </body>

</html>
