{% extends 'base.html.twig' %}

{% block title %}All Users
{% endblock %}

{% block body %}
	<div class="page-bar">
		<div class="page-title-breadcrumb">
			<div class=" pull-left">
				<div class="page-title">All users</div>
			</div>
			<ol class="breadcrumb page-breadcrumb pull-right">
				<li>
					<i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a class="parent-item" href="#">Users</a>&nbsp;<i class="fa fa-angle-right"></i>
				</li>
				<li class="active">All users</li>
			</ol>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="card  card-box">
				<div class="card-head">
					
					<div class="tools">
						<a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
						<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
						<a class="t-close btn-color fa fa-times" href="javascript:;"></a>
					</div>
				</div>
				<div class="card-body ">
					<div class="table-wrap">
						<div class="table-responsive">
							<table class="table display product-overview mb-30" id="support_table">
								<thead>
									<tr>
										<th>Id</th>
										<th>FullName</th>
										<th>Email</th>
										<th>Experience</th>
										<th>Details</th>
										<th>Roles</th>
										
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for user in users %}
										<tr>
											<td>{{ user.id }}</td>
												<td>{{ user.fullName }}</td>
											<td>{{ user.email }}</td>
												<td>{{user.experience}} </td>
															<td>{{user.details}}</td>
											<td>	{% for role in user.roles %}
																{{role}}
																<br>
															{% endfor %}</td>
														
										

																	<td class="left">
																		<div class="d-flex justify-content-around">
									<a href="{{ path('app_admin_edit', {'id': user.id}) }}" class="btn btn-primary btn-xs">
																	<i class="fa fa-pencil"></i>
																</a>

																			
																			{{ include('user/_delete_form.html.twig') }}

																			<div>
																		</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="6">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
